root = "."
tmp_dir = "./tmp"

[build]
  cmd = "go build -o ./tmp/viskatera-api"
  bin = "./tmp/viskatera-api"
  include_ext = ["go", "tpl", "tmpl", "html", "yaml", "yml"]
  exclude_dir = ["docs", "tmp", "uploads"]
  delay = 1000
  kill_delay = 500

[log]
  time = true

[color]
  main = "cyan"
  watcher = "yellow"
  build = "green"
  runner = "magenta"


